[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyinstaller = "*"
asyncio = "*"
pillow = "*"
docx = "*"
python-docx = "*"

[dev-packages]
pytest = "~=7.2.2"
httpx = "~=0.23.3"
black = "~=23.1.0"
isort = "*"
autoflake = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.6"
